<form ng-submit="self.addCar()">
    <input ng-model="self.newCar.title" />
    <input ng-model="self.newCar.make" />
    <input ng-model="self.newCar.model" />
    <input ng-model="self.newCar.price" />
    <input ng-model="self.newCar.picture" />
    <input ng-model="self.newCar.briefDescription" />
    <input ng-model="self.newCar.fullDescription" />
    <input ng-model="self.newCar.internalCombustionCar.gasMileage" />
    <input ng-model="self.newCar.electricCar.range" />
    <input ng-model="self.newCar.electricCar.chargeTime" />
    <input type="submit" value="Add Car" />
</form>
