@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularRouting">
<head>
    <title>Angular JS</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/ngApp/app.js"></script>
    <script src="~/Scripts/ngApp/controllers.js"></script>
</head>

<body>
    <h1>Angular Routing!</h1>
    <h3>It's stupendous</h3>

    <ng-view></ng-view>
</body>
</html>
